<mat-progress-spinner *ngIf="!categories" class="progress__spinner" [color]="'primary'" [mode]="'indeterminate'">
</mat-progress-spinner>

<!-- <ngc-float-item-button *ngIf="isEditEnabled" icon="add" content="New" (click)="addNewItem()" color="red"></ngc-float-item-button> -->

<mat-card *ngIf="(!canSelectSubCategory && !canAddEditItem)">
    <mat-card-header>
        
        <mat-card-title> <h3> Category </h3> </mat-card-title>
        <div fxFlex></div>
        <button mat-icon-button (click)="editList()">
      <mat-icon>edit</mat-icon>
    </button>
    </mat-card-header>
    <mat-card-content>
        <mat-nav-list>
                <mat-list-item (click)="addNewItem()"  *ngIf="isEditEnabled">
                        <mat-icon matListIcon>add</mat-icon>
                        <h3 class="name" matLine>Add New</h3>
                        <button *ngIf="isEditEnabled" mat-icon-button (click)="addNewItem()">
                </button>
                    </mat-list-item>
            <mat-list-item (click)="setCategorySelected(category)" *ngFor="let category of categories">
                <mat-icon matListIcon>folder</mat-icon>
                <h3 class="name" matLine>{{category.name}}</h3>
                <button *ngIf="isEditEnabled" mat-icon-button (click)="deleteItem($event,category)">
                    
            <mat-icon>delete</mat-icon>
        </button>
            </mat-list-item>
        </mat-nav-list>
    </mat-card-content>
    <!-- <mat-card-actions *ngIf="isEditEnabled">
        <mat-list-item (click)="addNewItem()">
            <button mat-button color="primary">
                <mat-icon>add</mat-icon>
                Add New
            </button>           
        </mat-list-item>
    </mat-card-actions> -->
</mat-card>

<mat-card *ngIf="canAddEditItem">
    <mat-card-header>
        <button mat-icon-button (click)="cancelAddEditItem()">
                        <mat-icon>cancel</mat-icon>
                       
                      </button>
        <div fxFlex></div>
         <h3> Edit Category </h3> 
         
        <div fxFlex></div>
        <button mat-icon-button (click)="saveItem()" [disabled]="!newCategoryForm.valid">
            <mat-icon>save</mat-icon>
          </button>

    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="newCategoryForm">
            <mat-form-field>
                <input name="editCat" type="text" matInput formControlName="name"
                placeholder="Add new category" [(ngModel)]="addEditCategoryItem.name">
            </mat-form-field>
            <!-- <div style="text-align:center">
            ICONS
            <!-- simple name only that assumes the 'fas' prefix 
            <fa-icon icon="coffee"></fa-icon>
            <!-- ['fas', 'coffee'] is an array that indicates the [prefix, iconName] 
            <fa-icon [icon]="['fas', 'coffee']"></fa-icon>
          </div> -->
        </form>
    </mat-card-content>
</mat-card>

<app-sub-category *ngIf="canSelectSubCategory" [categories] = "allCategories" [parentCategory]="selectedCategory" (selectedSubcategory)="setSelectedSubCategory($event)"></app-sub-category>

<div class="clear"></div>