<!-- <ng-progress>
</ng-progress>

<div style="text-align:center">
  <button routerLink="/transaction">Dashboard</button>
  <button routerLink="/transaction/list">Transaction List</button>
  <button routerLink="/transaction/new">New Transaction
  </button>


  <h1>
    Hi {{ title }}!
  </h1>
</div>
<router-outlet></router-outlet> -->
<!-- 
<ng-progress>
  </ng-progress>
<app-top-nav class="fixed-topnav" fxHide.gt-xs></app-top-nav>
<mat-sidenav-container>
  <mat-sidenav #appDrawer mode="over" opened="false">
    <mat-nav-list>
      <app-menu-list-item *ngFor="let item of navItems" [item]="item"></app-menu-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <app-top-nav fxHide.xs></app-top-nav>
  <router-outlet></router-outlet>
</mat-sidenav-container> -->
<!-- <ng-progress>
  </ng-progress> -->
  <div class="page-load-animation"></div>
  <router-outlet></router-outlet>
  


