<!-- The content below is only a placeholder and can be replaced.
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

</div>


<router-outlet></router-outlet> -->

<ng-progress></ng-progress>
<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <button routerLink="/transaction">Dashboard</button>  
  <button routerLink="/transaction/list">Transaction List</button>
  <button routerLink="/transaction/new">New 
    Transaction</button>
  <!-- <button routerLink="/staff">Staff</button> -->
  
  <h1>
    Hi {{ title }}!
  </h1>
</div>
<router-outlet></router-outlet>

