<mat-card>

    
    <mat-card-title> <h3> {{name}} </h3> </mat-card-title>
    <mat-form-field  fxLayoutAlign="center">

        <input matInput [(ngModel)]="displayNumber" class="res" reg-exp-require="/^[0-9\+\.\-\*\/]*$/">
    </mat-form-field>
    <mat-card-content layout="row" fxLayoutAlign="center">
        <button mat-button flex="30" class="mat-fab" (click)="buildNumber(7)">
            7
          </button>
        <button mat-button flex="30" class="mat-fab" (click)="buildNumber(8)">
            8
          </button>
        <button mat-button flex="30" class="mat-fab" (click)="buildNumber(9)">
            9
          </button>
      
    </mat-card-content>
    <mat-card-content layout="row"  fxLayoutAlign="center">
        <button mat-button flex="30" class="mat-fab" (click)="buildNumber(4)">
            4
          </button>
        <button mat-button flex="30" class="mat-fab" (click)="buildNumber(5)">
            5
          </button>
        <button mat-button flex="30" class="mat-fab" (click)="buildNumber(6)">
            6
          </button>
       
    </mat-card-content>
    <mat-card-content layout="row" fxLayoutAlign="center">
        <button mat-button flex="30" class="mat-fab" (click)="buildNumber(1)">
            1
          </button>
        <button mat-button flex="30" class="mat-fab" (click)="buildNumber(2)">
            2
          </button>
        <button mat-button flex="30" class="mat-fab" (click)="buildNumber(3)">
            3
          </button>
       
    </mat-card-content>
    <mat-card-content layout="row" fxLayoutAlign="center">
        <button mat-button flex="30" class="mat-fab  mat-warn" (click)="clear()">
            <mat-icon>clear</mat-icon>
          </button>       
          <button mat-button flex="30" class="mat-fab" (click)="buildNumber(0)">
            0
          </button>         
          <button mat-button flex="30" class="mat-fab  mat-primary" (click)="buildNumber('.')">
            .
          </button> 
          
        </mat-card-content> 
        <mat-card-content layout="row" fxLayoutAlign="center">
            <!-- <div class="button-container"  layout="row" fxLayoutAlign="center"> -->

            <!-- <div fxFlex></div> -->
            <button mat-button mat-stroked-button color="primary" (click)="enter()">
                <mat-icon>done</mat-icon>
              </button>    
              <!-- </div> -->
              
          </mat-card-content>



</mat-card>