// :host {
//     display: block;
//     width: 100%;
//     height: 100%;
//     .ngx-datatable {
//         height: 100vh;
//     }
// }

.fab-bottom-right {
    top: auto;
    left: auto;
    position: fixed !important;
    right: 16px;
    bottom: 16px;
    z-index: 100;
}

@media screen and (max-width: 800px) {
    .desktop-hidden {
    //   display: initial;
      
    }
    .mobile-hidden {
     
        // display: none;
      
    }
  }
  @media screen and (min-width: 800px) {
    .desktop-hidden {
   
    // display: none;
      
    }
    .mobile-hidden {
    //   display: initial;
      
    }
  }
